* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 15vh;
  position: fixed;
  background-color: #fff;
}

header .seller-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .seller-info-title {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.75);
}

header .seller-info-body {
  color: rgba(0, 0, 0, 0.8);
  font-size: 35px;
  font-weight: 300;
}

nav {
  width: 100%;
  height: 15vh;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;  
}

nav .nav-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 35px 35px;
}

nav .nav-icon {
  font-size: 80px;
  color: red;
}

.nav-footer {
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

nav .slide-bar {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

nav .slide-bar .slide-bar-item {
  height: 90px;
  margin: 0 30px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
}

nav .slide-bar a {
  text-decoration: none;
}

nav .slide-bar .active {
  color: red;
  border-bottom: 7px solid red;
}

nav .slide-bar .active p {
  color:red
}

nav .slide-bar::-webkit-scrollbar {
  width: 0;
}

main {
  height: 100%;
  width: 100%;
}

main .category {
  margin-top: 50px;
}

#acessorios-gatos {
  margin-top: 20vh;
}

main .category::before {
  content: "";
  display: block;
  height: 16vh;
  margin: -20vh 0 0;
}

main .category .category-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  color: rgba(0, 0, 0, 0.80)
}

main .category .category-header a {
  text-decoration: none;
  color: red;
}

main .category .category-header h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 55px;
}

main .category .category-slider {
  justify-content: space-between;
  display: flex;
  overflow: scroll;
  margin-bottom: 100px;
}

main .category .category-slider::-webkit-scrollbar {
  width: 0;
} 

main .category .category-item {
  width: 350px;
  margin: 0 20px;
}

main .category .category-slider .category-img-container {
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}

main .category .category-slider .category-img-container .add-to-cart {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 80px;
  color: red;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: none;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 140px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

main .category .category-slider .category-img-container img {
  max-height: 250px;
  max-width: 250px;
  display: flex;
}

main .category .category-slider .category-item .price {
  font-size: 45px;  
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
}

main .category .category-slider .category-item .item-description {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
}

main .category .category-slider .category-item .item-information {
  font-size: 35px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}