* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

input, button, submit { 
  border:none; 
} 

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14vh;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 130px 50px 100px;
}

.user-img {
  height: 140px;
  margin-right: 40px;
}

body {
  background-color: #fff;
  margin-top: 15vh;
  margin-bottom: 7vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-box {
  width: 95%;
  height: 205px;
  padding: 35px;
  margin: 1px 0;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 1px 1px rgb(0, 0, 0, 0.1);
}

#promo-box {
  width: 90%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

#promo-box-icon {
  width: 90px;
  margin-right: 35px;
}

#promo-box #arrow {
  color: rgba(0, 0, 0, 0.2);
}

#promo-box span p{
  font-size: 40px;
  text-align: left;
}


.nav-box span {
  display: flex;
  align-items: center;
}

.nav-box span p {
  font-size: 50px;
  font-weight: 300;
  color: rgba(53, 53, 53, 0.65);
}

.nav-box .nav-box-text {
  font-size: 40px;
}

.nav-box #arrow {
  color: rgba(0, 0, 0, 0.4);
  font-size: 35px;
  font-weight: bold;
}

.nav-box-icon {
  font-size: 80px;
  margin-right: 35px;
  color: rgba(0, 0, 0, 0.7);
}

.nav-box .nav-box-title {
  font-weight: 500;
  text-align: left;
  color: rgba(53, 53, 53, 0.95);
}

.nav-box:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

footer {
  height: 7vh;
  min-height: 6vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 45px;
  box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.2);
}

.nav-bar-icon {
  display: flex;
  align-items: center;
}

.nav-bar-icon span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 90px;
  text-align: center;
}

.nav-bar-icon span p {
  color: rgba(0, 0, 0, 0.8);
}

nav p {
  font-size: 30px;
}

footer nav .active p, footer nav .active span{
  color: black;
}

